<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="badminton_association.com.example.honza.badmintonassociation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Player.PlayerMenuActivity" />
        <activity android:name=".Activities.Player.PlayerTournamentsActivity" />
        <activity android:name=".Activities.Player.PlayerMyAccountActivity" />
        <activity android:name=".Activities.Player.PlayerAvailableTournamentsActivity" />
        <activity android:name=".Activities.Admin.AdminMenuActivity" />
        <activity android:name=".Activities.Admin.AdminTournamentsActivity" />
        <activity
            android:name=".Activities.Admin.AdminVenuesActivity"
            android:label="@string/title_activity_admin_venues"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Admin.AdminNewTournament"></activity>
    </application>

</manifest>